%% -*- erlang -*-
{erl_opts, [
    debug_info 
  ]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
  {cowboy,       "1.0.4"},
  {jsx,          "2.8.0"},
  {uart,         {git, "git://github.com/relabsoss/uart.git", {branch, "master"}}},
  {erlang_ale,   {git, "git://github.com/esl/erlang_ale.git", {branch, "master"}}}
  ]}.

{plugins, []}.

{shell, [
  {config, "config/sys.config"},
  {apps, [erlem]}
]}.

