%% -*- coding: utf-8 -*-
{erlem, [
    {listen_port,8080},
    {modules, [
        {oled_display, #{
            bus => "i2c-0"
          }},
        {bmp280, #{
            bus => "i2c-0",
            address => 16#77
          }},
        {uart_gps, #{
            bus => "ttyS0"
          }}, 
        {gps_temp_display, #{
            timestep => 1000
          }} 
      ]}
  ]}